body {
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    
}

h2 {
    font-weight: 300;
    font-size: 42px;

}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
p {
    color: gray;
    font-size: 21px;
    display: block;
}

.footer {
    text-align: right;
}